
@media screen and (max-width: 600px) {
  #header {
  padding: 10px;

  }
  #footer {
    padding: 10px;
    font-size: 10px;

  }
  #title {
  font-size: 1em;
}
  #button-random-color { 
  font-size: 8px;
  width: 100px;
  padding: 9px;
  height: 30px;
  }
  #clear-board {
    font-size: 12px;
    width: 100px;
    padding: 10px;
    height: 30px;

  }
  #generate-board {
    font-size: 9px;
    width: 100px;
    padding: 9px;
    height: 30px;

  }
  #button-container {
    height: 10vh;
    width: 74vw;
    top: 12%;
    left: 10%;
  }  
  #board-size {
    top: 15%;
    left: 85%;
    width: 40px; 
    height: 20px;
  }
  #color-palette {
    width: 80vw;
    top: 35%;
    left: 8%;
  }
  #pixel-board {
    top: 55%;
  }
  #canvas {
    top: 55%;
    }
    #botoes-canvas {
      top: 25%;
      left: 28%
    }
    
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  #header {
    padding: 10px;

    }
    #footer {
      padding: 10px;
      font-size: 10px;

    }
    #title {
    font-size: 1em;
  }
  #button-random-color { 
    font-size: 8px;
    width: 100px;
    padding: 9px;
  height: 30px;

  }
  #clear-board {
    font-size: 10px;
  width: 100px;
  padding: 9px;
    height: 30px;

  }
  #generate-board {
    font-size: 9px;
    width: 100px;
    padding: 9px;
    height: 30px;

  }
  #button-container {
    height: 10vh;
    width: 60vw;
    top: 12%;
    left: 18%;
  }  
  #board-size {
    top: 15%;
    left: 80%;
    width: 40px; 
    height: 20px;
  }
  #color-palette {
    width: 80vw;
    top: 35%;
    left: 25%;
  }
  #pixel-board {
    top: 55%;
  }
  #canvas {
  top: 55%;
  }
  #botoes-canvas {
    top: 25%;
    left: 30%
  }
}

@media screen and (min-width: 768px) and (max-width: 999px) {
  #header {
    padding: 10px;

    }
    #footer {
      padding: 10px;
      font-size: 10px;

    }
    #title {
    font-size: 1em;
  }
  #button-random-color { 
    font-size: 8px;
    width: 100px;
    padding: 9px;
  height: 30px;
    }
    #clear-board {
      font-size: 10px;
      width: 100px;
      padding: 9px;
        height: 30px;;
    }
    #generate-board {
      font-size: 9px;
    width: 100px;
    padding: 9px;
    height: 30px;
    }
    #button-container {
      height: 10vh;
      width: 55vw;
      top: 14%;
      left: 22%;
    }  
    #board-size {
      top: 17%;
      left: 78%;
      width: 40px; 
      height: 20px;
    }
    #color-palette {
      width: 80vw;
      top: 42%;
      left: 30%;
    }
    #pixel-board {
      top: 64%;
    }
    #canvas {
      top: 64%;
    }
  }
  

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  #header {
    padding: 10px;

    }
    #footer {
      padding: 10px;
      font-size: 10px;

    }
    #title {
    font-size: 1em;
  }
  #button-random-color { 
    font-size: 12px;
    width: 150px;
    padding: 10px;
    }
    #clear-board {
      font-size: 12px;
      width: 100px;
      padding: 10px;
    }
    #generate-board {
      font-size: 12px;
      width: 100px;
      padding: 10px;
    }
    #button-container {
      height: 10vh;
      width: 50vw;
      top: 18%;
      left: 25%;
    }  
    #board-size {
      top: 21%;
      left: 73%;
      width: 40px; 
      height: 20px;
    }
    #color-palette {
      width: 80vw;
      top: 42%;
      left: 35%;
    }
    #pixel-board {
      top: 64%;
    }
    #canvas {
      top: 64%;
    }
  }
      

@media screen and (min-width: 1300px) and (max-width: 1500px) {
  #button-random-color { 
    font-size: 12px;
    width: 150px;
    padding: 10px;
    }
    #clear-board {
      font-size: 12px;
      width: 100px;
      padding: 10px;
    }
    #generate-board {
      font-size: 12px;
      width: 100px;
      padding: 10px;
    }
    #button-container {
      height: 10vh;
      width: 40vw;
      top: 20%;
      left: 28%;
    }  
    #board-size {
      top: 23%;
      left: 67%;
      width: 40px; 
      height: 20px;
    }
    #color-palette {
      width: 80vw;
      top: 42%;
      left: 38%;
    }
    #pixel-board {
      top: 64%;
    }  
    #canvas {
      top: 64%;
    }
  }

@media screen and (min-width: 1500px) and (max-width: 1600px) {
  #button-random-color { 
    font-size: 12px;
    width: 150px;
    padding: 10px;
    }
    #clear-board {
      font-size: 12px;
      width: 100px;
      padding: 10px;
    }
    #generate-board {
      font-size: 12px;
      width: 100px;
      padding: 10px;
    }
    #button-container {
      height: 10vh;
      width: 35vw;
      top: 20%;
      left: 32%;
    }  
    #board-size {
      top: 23%;
      left: 66%;
      width: 40px; 
      height: 20px;
    }
    #color-palette {
      width: 80vw;
      top: 42%;
      left: 38%;
    }
    #pixel-board {
      top: 64%;
    } 
    #canvas {
      top: 64%;
    }
      
  }
